# Ignorer les fichiers générés par le script
results/plots/*
results/logs/*
results/samples/

# Ignorer les fichiers de données brutes
dataset/metadata/tracks.csv
dataset/metadata/fma_small/

dataset/data/mel_specs.npy
dataset/data/labels.npy

# Ignorer les fichiers de cache Python
src/utils/__pycache__/
dataset/__pycache__/
src/models/__pycache__/
src/networks/__pycache__/

# Ignorer les fichiers debug
debug.py

# Ne pas ignorer les dossiers
!results/plots/.gitkeep
!results/logs/.gitkeep
!dataset/metadata/.gitkeep